NUMERIC **DATATYPES**

In [ ]:
a=25
print(a)#print is to display the input
type(a)#type will display the data type

25

int

We are learning different datatypes in Python
#comment-- comments are not the part of the executable code, they are added only to increase the readibility.
Ways to execute the code cell
- shift + enter
- ctrl + enter
- play button

In [ ]:
b = -8.9
print(b)
type(b)

-8.9

float

In [ ]:
c= 5 + 6j
print(c)
type(c)

(5+6j)

complex

SEQUENTIAL **DATATYPES**

String :Collections of Charaters. In str whatever characters you take should be incorporated inside the inverted comas. It is mutable.

In [ ]:
a="Ada","Mangp","Grapes"
print(a)
type(a)

('Ada', 'Mangp', 'Grapes')

tuple

List :Collection of elements. In list what elements you take should incorporated inside the square brackets[]. It is mutable means changeable, replaceable, possible to modify... It is use for the company purposes to modify the data every academy year.

In [ ]:
a=["apple",23,4.5,"Ashutosh"]
print(a)
type(a)

['apple', 23, 4.5, 'Ashutosh']

list

Tuple: Collection of elements. In tuples whatever elements you take should incorporated inside the bracket round bracket(). It is immutable means modification not possible....Use for the purpose of the vital important data or sensitive data where one cannnot modify.Private purpose e.g: aadhar card, pin no., ATM card. Personal information details.

In [ ]:
a= ("apple",45,-5.6,"Orange")
print(a)
type(a)

('apple', 45, -5.6, 'Orange')

tuple

Boolean : We use TRUE AND VALUE with the conditions
BUILT IN FUNCTIONS
Built-in: available by defualt(exist without the creation)
Function: Reusable product/ helper.
print(): This function will display the contain in variable
type(): This function will display the type of the content
output(): This function will display the input which is put by user
COMMENTS: are not a part of executable but they are added only to increase the readibility of a code.

CONCATINATION: Merge two or more lists/ string

In [ ]:
L1=[1,2,3,4,5]
L2=["Mango","Apple"]
print(L1+L2)
a='My'
b='Desktop'
print(a+" "+b)

[1, 2, 3, 4, 5, 'Mango', 'Apple']
My Desktop

INDEXING: Fetch one element at a time
Positive Index start from 0(left to right)
Negative Index start from -1(right to left)
Index no. can be +ve/-ve

In [ ]:
a='Indian ocean'
print(a[5])
b='Indian Ocean'
print(b[-4])

n
c

CONCATINATION AND INDEXING

In [ ]:
A='Indian'
B='Ocean'
print(A+" "+B)
C=A+" "+B
print(C[5])

Indian Ocean
n

SLICING :Fetch multiples elements at the time
starting point[x:y]one before y (y-1)

In [ ]:
a=[1,2,3,4,5,6,"ADA","AGA"]
b=["JGFTD","UJDYUI"]
print(a[0:4])
print(a+b)
g=a+b
print(g[0:9])

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 'ADA', 'AGA', 'JGFTD', 'UJDYUI']
[1, 2, 3, 4, 5, 6, 'ADA', 'AGA', 'JGFTD']